{% extends 'main/index_template.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div style="background:white; padding:4%;">
    <div style="margin-left:30%; border: 1px solid lightgrey; width:40%; padding-left:4%; padding-right: 4%;border-radius: 5px;padding-top: 2%;padding-bottom: 2%;">
    <div style="font-size: 25px;font-weight: bold;padding-bottom: 10px;">Restore Password</div>
    <h4>{% trans 'Restore password' %}</h4>

    {% if validlink %}

        <p>
            {% trans 'Please enter your new password twice so we can verify you typed it in correctly.' %}
        </p>

        <form method="post">

            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-success">{% trans 'Change' %}</button>

        </form>

    {% else %}

        <div class="alert alert-danger">
            {% trans 'The password reset link was invalid, possibly because it has already been used. Please request a new password reset.' %}
        </div>

    {% endif %}
</div>
</div>
{% endblock %}
