{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load avatar_tags %}
{% load forum_tags %}
{% load flag_tags %}
{% load humanize %}

{% block content %}
<!-- Posts  -->
<div style="margin: 5px; display: flow-root;">
    <span class="ttitle" style="font-size: x-large; float:left; font-weight: bold; ">Top Posts</span>
</div>
<div id="list">
    {% for post in posts %}

    <div class="post post-card">

        <div style="font-size: 12px; color: #41B3C5;">
            <p>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                    <path fill-rule="evenodd"
                        d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                </svg>
                <a href="{{post.topic.forum.get_absolute_url }}">{{post.topic.forum.title}} </a>
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                </svg>
                <a href="{{post.topic.get_absolute_url }}"> {{post.topic.title}} </a>
            </p>
        </div>
      
        {% if user.is_authenticated %}
        <div>
            {% render_flag_form post user %}
        </div>
        {% endif %}
        
        <div class="title" style="font-weight: bold;  font-size: 18px;">{{ post.title | safer }}</div>
        
        <div style="padding: 5px;">
        <span style="float: left;">{% avatar post.creator 45 class="img-circle img-responsive"%} </span>
        <div style="font-weight: bold; float: right;width: 90%;">{{ post.creator }}</div>
        <div style="font-size: 12px ; color:grey; float: right;width: 90%;">
        <span class="date">{{ post.created |naturaltime }}</span> 
        </div>
    </div> 
    <span style="display: inline-block;">
            {% if post.is_flagged %}
            <div style="padding: 50px 10px;">
                <p style="color: silver; float: center;">This content has been flagged</p>
            </div>
            {% else %}
            <div class="post-preview">
                            <div class="post-content" style="display: flex; flex-direction: column; padding: 10px;">
                                {% if post.body|length > 200 %}
                                    <div class="truncated-content">
                                        <span style="align-items: center;">{{ post.body|safer|truncatechars:200 }}
                                            <button class="more-link" style="margin-right: 10px; border: none; margin-left: 10px;"> <b>More</b></button>
                                        </span>
                                    </div>
                                    <div class="full-content" style="display: none;">
                                        <span >{{ post.body | safer }}
                                            <button class="less-link" style="margin-right: 10px; border: none; margin-left: 10px;"> <b>Less</b></button>
                                        </span>  
                                    </div>
                                {% else %}
                                    <div class="full-content">
                                        <span>{{ post.body | safer }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>  
                        <script>
                            $(document).ready(function() {
                                $('.more-link').click(function(e) {
                                    e.preventDefault();
                                    $(this).closest('.post-content').find('.truncated-content').hide();
                                    $(this).closest('.post-content').find('.full-content').show();
                                });
                                
                                $('.less-link').click(function(e) {
                                    e.preventDefault();
                                    $(this).closest('.post-content').find('.full-content').hide();
                                    $(this).closest('.post-content').find('.truncated-content').show();
                                });
                            });

                        </script>
            {% endif %}
            <!-- Up-Down-Comments-Button section -->
            <div>
                {% if request.user == post.creator %}
                <div style="display: flex; flex-direction: row;">
                    <!-- Up-Down Button Group -->
                     <span class="up-down-btn-group">
                        <span class="btn btn-sm btn-xs">
                            <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" role="presentation" data-v-e9db3ad8=""><g fill="" data-v-e9db3ad8=""><path fill-rule="evenodd" clip-rule="evenodd" d="M12 8H15.1716L10 2.82843L4.82843 8H8V16H12V8ZM14 18H6V10H0L10 0L20 10H14V18Z"></path></g></svg>
                        </span>
                        <span class="pt-1">{{ post.vote_difference }}</span>
                        <span class="btn btn-sm btn-xs">
                                <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" role="presentation" data-v-e9db3ad8=""><g fill="" data-v-e9db3ad8=""><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10H15.1716L10 15.1716L4.82843 10H8V2H12V10ZM14 0H6V8H0L10 18L20 8H14V0Z"></path></g></svg>
                        </span>
                    </span>

                    <!-- Comments -->
                    <div class="comment-btn">
                        <a href="{{post.get_absolute_url}}" class="btn btn-sm btn-xs btn-outline-info">
                            <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" role="presentation" data-v-e9db3ad8=""><g fill="#999999" data-v-e9db3ad8=""><path d="M6.3 18C6.06131 18 5.83239 17.9052 5.6636 17.7364C5.49482 17.5676 5.4 17.3387 5.4 17.1V14.4H1.8C1.32261 14.4 0.864773 14.2104 0.527208 13.8728C0.189642 13.5352 0 13.0774 0 12.6V1.8C0 0.801 0.81 0 1.8 0H16.2C16.6774 0 17.1352 0.189642 17.4728 0.527208C17.8104 0.864773 18 1.32261 18 1.8V12.6C18 13.0774 17.8104 13.5352 17.4728 13.8728C17.1352 14.2104 16.6774 14.4 16.2 14.4H10.71L7.38 17.739C7.2 17.91 6.975 18 6.75 18H6.3ZM7.2 12.6V15.372L9.972 12.6H16.2V1.8H1.8V12.6H7.2Z"></path></g></svg>
                        </a>
                        <span class="pt-1 mr-3 ">{{ post.get_comments.count }}</span>
                    </div>

                    <!-- Delete Button -->
                    <span class="delete-btn">
                        <svg class="delete-post" width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-trash"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </span>
                </div>

                {% else %}
                <div style="display: flex; flex-direction: row;">
                    <span class="up-down-btn-group">
                        <!-- Upvote Button -->
                        {% if request.user.id in post.upvoted_users %}
                            <button type="button" class="btn btn-sm btn-xs btn-info upvote" data-object_id={{post.id}} data-object_type="post" >
                                <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" role="presentation" data-v-e9db3ad8=""><g fill="" data-v-e9db3ad8=""><path fill-rule="evenodd" clip-rule="evenodd" d="M12 8H15.1716L10 2.82843L4.82843 8H8V16H12V8ZM14 18H6V10H0L10 0L20 10H14V18Z"></path></g></svg>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-xs btn-outline-info upvote" data-object_id={{post.id}} data-object_type="post">   
                                <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" role="presentation" data-v-e9db3ad8=""><g fill="" data-v-e9db3ad8=""><path fill-rule="evenodd" clip-rule="evenodd" d="M12 8H15.1716L10 2.82843L4.82843 8H8V16H12V8ZM14 18H6V10H0L10 0L20 10H14V18Z"></path></g></svg>
                            </button>
                        {% endif %}
                        <span class="pt-1">{{ post.vote_difference }}</span>
                        <!-- Downvote Button -->
                        {% if request.user.id in post.downvoted_users %}
                            <button type="button" class="btn btn-sm btn-xs btn-info downvote" data-object_id={{post.id}} data-object_type="post">
                                <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" role="presentation" data-v-e9db3ad8=""><g fill="" data-v-e9db3ad8=""><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10H15.1716L10 15.1716L4.82843 10H8V2H12V10ZM14 0H6V8H0L10 18L20 8H14V0Z"></path></g></svg>
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-sm btn-xs btn-outline-info downvote" data-object_id={{post.id}}
                                data-object_type="post">
                                <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 18" role="presentation" data-v-e9db3ad8=""><g fill="" data-v-e9db3ad8=""><path fill-rule="evenodd" clip-rule="evenodd" d="M12 10H15.1716L10 15.1716L4.82843 10H8V2H12V10ZM14 0H6V8H0L10 18L20 8H14V0Z"></path></g></svg>
                            </button>
                        {% endif %}
                    </span>

                    <!-- Comment Button -->
                    <div class="comment-btn">
                        <a href="{{post.get_absolute_url}}" class="btn btn-sm btn-xs btn-outline-info">
                            <svg width="1.2em" height="1.2em" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" role="presentation" data-v-e9db3ad8=""><g fill="#999999" data-v-e9db3ad8=""><path d="M6.3 18C6.06131 18 5.83239 17.9052 5.6636 17.7364C5.49482 17.5676 5.4 17.3387 5.4 17.1V14.4H1.8C1.32261 14.4 0.864773 14.2104 0.527208 13.8728C0.189642 13.5352 0 13.0774 0 12.6V1.8C0 0.801 0.81 0 1.8 0H16.2C16.6774 0 17.1352 0.189642 17.4728 0.527208C17.8104 0.864773 18 1.32261 18 1.8V12.6C18 13.0774 17.8104 13.5352 17.4728 13.8728C17.1352 14.2104 16.6774 14.4 16.2 14.4H10.71L7.38 17.739C7.2 17.91 6.975 18 6.75 18H6.3ZM7.2 12.6V15.372L9.972 12.6H16.2V1.8H1.8V12.6H7.2Z"></path></g></svg>
                        </a>
                        <span class="pt-1 mr-3">{{ post.get_comments.count }}</span>
                    </div>
                </div>

                {% endif %}

                <div class="confirm-delete-form" style="display: none;">
                    <form
                        action="{% url 'django_forum_app:delete-post' forum_slug=post.topic.forum.slug topic_id=post.topic.id pk=post.id %}"
                        method="POST" style="margin:15px">
                        {% csrf_token %}
                        <p>Are you sure you want to delete this post?
                            <button type="submit" class="btn btn-sm btn-xs btn-danger" style="margin-left:5px">Delete</button>
                        </p>
                    </form>
                </div>
            </div>
        </span>
    </div>
    {% endfor %}
</div>

<!-- Next/Prev page links  -->
{% if posts and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">{% trans 'previous &lt;&lt;' %} </a>
        {% endif %}

        <span class="current">
            &nbsp;{% trans 'Page' %} {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"> {% trans '&gt;&gt; next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}