{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load avatar_tags %}
{% load forum_tags %}
{% load flag_tags %}
{% load humanize %}
{% block content %}

<div id="list" style="width: 100% ">
    {% for post in posts %}
        {% if not is_paid_user and post.is_paid %}
            <div class="post"
                        style=" padding:20px; box-shadow: 10px 10px 10px rgba(0,0,0,0.4); width: 100%; margin-bottom: 15px; background-color: white;">

               <div style="text-align: center">
                <h2>This post is for subscribers only</h2>
                    <a href="/accounts/subscription">
                    <button style="background: #2d82b5;
                            color: #fff;
                            border-radius: 10px 10px;
                            border: #2d82b5;
                            padding: 10px;">Subscribe</button>
                </a>
                </div>
            </div>
        {% else %}
            <div class="post"
                style=" padding:35px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.103); width: 100%; margin-bottom: 15px; background-color: white;">
                 <div style=" font-size: 12px; color: #41B3C5;">
                    <p>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd"
                                d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg>
                        <a href="{{post.topic.forum.get_absolute_url }}">{{post.topic.forum.title}} </a>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                        </svg>
                        <a href="{{post.topic.get_absolute_url }}"> {{post.topic.title}} </a>
                    </p>
                </div>

                {% if user.is_authenticated %}

                <div>
                    {% render_flag_form post user %}
                </div>
                {% endif %}

               <div class="title" style="font-weight: bold; font-size: 18px; margin-bottom: 2%;">{{ post.title | safer }}</div>
                <div style="padding: 5px; display: flex; flex-direction: row; margin-bottom: 10px;">
                <div style="margin-right: 15px;">{% avatar post.creator 30 class="img-circle img-responsive"%} </div>
                <div style="float: left; padding: 0">
                   <div style="font-weight: bold;">{{ post.creator }}</div>
                <div style="font-size: 12px ; color:grey;">
                <span class="date">{{ post.created }}</span>
                </div>
                </div>
            </div>
            <span style="display: inline-block; padding-left: inherit">
                    {% if post.is_flagged %}
                    <div style="padding: 50px 10px;">
                        <p style="color: silver; float: center;">This content has been flagged</p>
                    </div>
                    {% else %}
                    <div class="post-preview" >
                        <div class="post-content" style="display: flex; flex-direction: column; padding: 10px;">
                            <div class="truncated-content" style="flex-grow: 1;"> 
                                {% if post.body|length > 400 %}
                                    {{ post.body|truncatechars:400|safer }}
                                {% else %}
                                    {{ post.body | safer }}
                                {% endif %}
                            </div>
                            {% if post.body|length > 200 %}
                                <div class="full-content" style="display: none;">
                                    {{ post.body | safer }}
                                </div>
                                <div class="buttons">
                                    <a href="#" class="more-link">More</a>
                                    <a href="#" class="less-link" style="display: none;">Less</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('.more-link').click(function(e) {
                                e.preventDefault();
                                $(this).hide();
                                $(this).siblings('.less-link').show();
                                $(this).closest('.post-content').find('.truncated-content').hide();
                                $(this).closest('.post-content').find('.full-content').show();
                                
                            });
                            $('.less-link').click(function(e) {
                                e.preventDefault();
                                $(this).hide();
                                $(this).siblings('.more-link').show();
                                $(this).closest('.post-content').find('.truncated-content').show();
                                $(this).closest('.post-content').find('.full-content').hide();
                                
                            });
                        });

                    </script>
                    <!-- <div style="padding: 10px;">{{ post.body | safer }} </div> -->
                    {% endif %}
                    {% if post.tags %}
                    <div class="row">
                        <div class="col">
                            {%for tag in post.tags.all %}
                            <span class="btn btn-sm btn-outline-secondary">{{tag.name}}</span>
                            {%endfor %}
                        </div>
                    </div>
                    {%endif%}

                    <div>
                        {% if request.user == post.creator %}

                        <span style="color: #41B3C5; margin-left: 15px;">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
                                </path>
                            </svg>
                            <span>{{post.upvotes}}</span>
                        </span>

                        <span style="color: #41B3C5; margin-left: 25px;">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z">
                                </path>
                            </svg>
                            <span>{{post.downvotes}}</span>
                        </span>

                        <span>
                            <a href="{{post.get_absolute_url}}" style="color: #41B3C5; margin-left: 25px;">
                                {{ post.get_comments.count }} comment{{ post.get_comments.count|pluralize }}
                            </a>
                        </span>

                        <span style="color: #41B3C5; margin-left: 20px;">
                            <svg class="delete-post" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg>
                        </span>

                        {% else %}
                        {% if request.user.id in post.upvoted_users %}
                        <button type="button" class="btn btn-info upvote" data-object_id={{post.id}} data-object_type="post">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
                                </path>
                            </svg>
                            <span>{{post.upvotes}}</span>
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-info upvote" data-object_id={{post.id}}
                            data-object_type="post">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
                                </path>
                            </svg>
                            <span>{{post.upvotes}}</span>
                        </button>
                        {% endif %}

                        {% if request.user.id in post.downvoted_users %}
                        <button type="button" class="btn btn-info downvote" data-object_id={{post.id}} data-object_type="post">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z">
                                </path>
                            </svg>
                            <span>{{post.downvotes}}</span>
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-info downvote" data-object_id={{post.id}}
                            data-object_type="post">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z">
                                </path>
                            </svg>
                            <span>{{post.downvotes}}</span>
                        </button>
                        {% endif %}

                        <span>
                            <a href="{{post.get_absolute_url}}" style="color: #41B3C5; margin-left: 15px;">
                                {{ post.get_comments.count }} comment{{ post.get_comments.count|pluralize }}
                            </a>
                        </span>

                        {% endif %}

                        <div class="confirm-delete-form" style="display: none;">
                            <form
                                action="{% url 'django_forum_app:delete-post' forum_slug=post.topic.forum.slug topic_id=post.topic.id pk=post.id %}"
                                method="POST" style="margin:15px">
                                {% csrf_token %}
                                <p>Are you sure you want to delete this post?
                                    <button type="submit" class="btn btn-danger" style="margin-left:5px">Delete</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </span>
            
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- Next/Prev page links  -->
{% if posts and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">{% trans 'previous &lt;&lt;' %} </a>
        {% endif %}

        <span class="current">
            &nbsp;{% trans 'Page' %} {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"> {% trans '&gt;&gt; next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}