{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div style="border: 1px solid grey;  padding:15px;">
<form action="{% url 'forum:reply' forum.slug topic.id %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {% if 'Is' in field.label %}
            <div class="form-group">
                {{ field }}
                <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
        {% elif field.label == 'Tags'  %}
            <div class="form-group">
                <label  for="{{ field.id_for_label }}">{{ field.label }}</label>
                <p>{{ field.help_text}}</p>
                {{ field }}
            </div>
        {% else %}
            <div class="form-group">
                <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}