{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<!-- <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script> -->

<div style=" padding:35px; background-color: white;">
<form action="{% url 'forum:reply' forum.slug topic.id %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
        {% if 'Is' in field.label %}
            <div class="custom-control custom-switch" style="margin: 15px 0px; ">
                {{ field }}
                <label class="custom-control-label" for="{{ form.is_paid.id_for_label }}">{{ field.label }}</label>
            </div>
        {% elif field.label == 'Tags'  %}
            <div class="form-group">
                <label  for="{{ field.id_for_label }}">{{ field.label }}</label>
                <p>{{ field.help_text}}</p>
                {{ field }}
            </div>
        {% else %}
            <div class="form-group">
                <label class="col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<!-- <script>
    $(function() {
        $("[data-toggle='toggle']").bootstrapToggle();
    });
</script> -->
{% endblock %}