{% extends 'layouts/default/page.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load avatar_tags %}
{% load forum_tags %}
{% load flag_tags %}
{% load humanize %}
{% block content %}
<!-- Posts  -->
<div style="margin: 10px; display: flex; justify-content: space-between;">
    <span class="ttitle" style="font-size: x-large; float:left; font-weight: bold; ">{{ topic.title | safer }}</span>
    {% if is_admin %}
    <a class="btn btn-primary" style="height: 35px;"
            href="{% url 'forum:reply' forum.slug topic.pk %}">{% trans 'Write Post' %}</a>
    {% endif %}
</div>
<div id="list">
    {% for post in posts %}
    <div class="post"
        style=" padding:25px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.089); width: 100%; margin-bottom: 15px; background-color: white;">
        {% if user.is_authenticated %}
        <div>
            {% render_flag_form post user %}
        </div>
        {% endif %}
        <div class="title" style="font-weight: bold; font-size: 18px; margin-bottom: 2%;">{{ post.title | safer }}</div>
           <div style="padding: 5px; display: flex; flex-direction: row; margin-bottom: 10px;">
            <div style="margin-right: 15px;">{% avatar post.creator 30 class="img-circle img-responsive"%} </div>
            <div style="float: left; padding: 0">
                   <div style="font-weight: bold;">{{ post.creator }}</div>
                    <div style="font-size: 12px ; color:grey;">
                        <span class="date">{{ post.created | naturaltime }}</span>
                    </div>
            </div>
        </div>
        <span style="display: inline-block;">
            
         <!--  <div style="font-size: small; color:grey">
                by {{ post.creator }} | <span class="date">{{ post.created }}</span>
            </div>--> 
            {% if post.is_flagged %}
            <div style="padding: 50px 10px;"><p style="color: silver; float: center;" >This content has been flagged</p></div>
            {% else %}
            <div style="padding: 10px;">{{ post.body | safer }} </div>
            {% endif %}

            {% if post.tags %}
                <div class="row">
                    <div class="col">
                        {%for tag in post.tags.all %}
                        <span class="btn btn-sm" style="background-color: rgb(224, 230, 230); border-radius: 15px; padding: 5px 10px; margin-bottom: 20px;">{{tag.name}}</span>
                        {%endfor %}
                    </div>
                </div>
            {%endif%}

            <div> 
                {% if request.user == post.creator %}

                <span style="color: #41B3C5; margin-left: 15px;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
                        </path>
                    </svg>
                    <span>{{post.upvotes}}</span>
                </span>

                <span style="color: #41B3C5; margin-left: 25px;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z">
                        </path>
                    </svg>
                    <span>{{post.downvotes}}</span>
                </span>

                <span>
                    <a href="{{post.get_absolute_url}}" style="color: #41B3C5; margin-left: 25px;">
                    {{ post.get_comments.count }} comment{{ post.get_comments.count|pluralize }}
                    </a>
                </span>
                
                <span style="color: #41B3C5; margin-left: 20px;">
                    <svg class="delete-post" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
                </span>

                {% else %}
                {% if request.user.id in post.upvoted_users %}
                <button type="button" class="btn btn-info upvote" data-object_id={{post.id}} data-object_type="post">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
                        </path>
                    </svg>
                    <span>{{post.upvotes}}</span>
                </button>
                {% else %}
                <button type="button" class="btn btn-outline-info upvote" data-object_id={{post.id}} data-object_type="post">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z">
                        </path>
                    </svg>
                    <span>{{post.upvotes}}</span>
                </button>
                {% endif %}

                {% if request.user.id in post.downvoted_users %}
                <button type="button" class="btn btn-info downvote" data-object_id={{post.id}} data-object_type="post">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z">
                        </path>
                    </svg>
                    <span>{{post.downvotes}}</span>
                </button>
                {% else %}
                <button type="button" class="btn btn-outline-info downvote" data-object_id={{post.id}} data-object_type="post">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z">
                        </path>
                    </svg>
                    <span>{{post.downvotes}}</span>
                </button>
                {% endif %}

                <span>
                    <a href="{{post.get_absolute_url}}" style="color: #41B3C5; margin-left: 15px;">
                    {{ post.get_comments.count }} comment{{ post.get_comments.count|pluralize }}
                    </a>
                </span>
                
                {% endif %}

                <div class="confirm-delete-form" style="display: none;">
                    <form action="{% url 'django_forum_app:delete-post' forum_slug=post.topic.forum.slug topic_id=post.topic.id pk=post.id %}" method="POST" style="margin:15px">
                        {% csrf_token %}
                        <p>Are you sure you want to delete this post?
                        <button type="submit" class="btn btn-danger" style="margin-left:5px" >Delete</button>
                        </p>
                    </form>
                </div>
                

            </div>
        </span>
    </div>
    {% endfor %}
</div>

<!-- Next/Prev page links  -->
{% if posts and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">{% trans 'previous &lt;&lt;' %} </a>
        {% endif %}

        <span class="current">
            &nbsp;{% trans 'Page' %} {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"> {% trans '&gt;&gt; next' %}</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}