{% load i18n %}
{% load static %}
{% load flag_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/flag_custom.css' %}">

<div class="report-modal-form-combined">
    <div class="flag-report-icon" data-url="{% url 'flag:flag' %}" data-app-name="{{ app_name }}"
        data-model-name="{{ model_name }}" data-model-id="{{ model_id }}" data-csrf="{{ csrf_token }}">
        <span title="{% if has_flagged %}{% trans "Remove flag" %}{% else %}{% trans "Report content" %}{% endif %}">
            {% include "flag/flag_icon.html" %}
        </span>
    </div>
    <div class="flag-report-modal">
        <div class="report-modal-content">
            <span class="report-modal-close">&times;</span>
            <div class="report-modal-flag-form">
                <form class="m-2 p-1 report-modal-form">
                    {% csrf_token %}
                    <h3>{% trans "Report this content" %}</h3>
                    <hr>
                    <p>Please select the reason to report the post:</p>
                    {% for reason in flag_reasons  %}
                    <div class="radio">
                        <label>
                            <input type="radio" value={{ reason.value }}
                                class="{% if forloop.last %}last-flag-reason{% endif %} flag-reason" name="reason"
                                required>
                            {{ reason.reason }}
                        </label>
                    </div>
                    {% endfor %}
                    <textarea class="report-modal-form-info not-mce-here form-control" rows="5" name="info"></textarea>
                    <hr>
                    <button type="submit" class="mt-2 flag-submit-btn btn btn-primary">{% trans "Submit" %}</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/flag_custom.js' %}"></script>
</div>