{% extends "main/index_template.html" %}
{% load i18n %}

{% block content %}
<div style="background:white; padding:4%; margin-top: 20px">
  <div style=" border: 1px solid lightgrey; width:100%; padding-left:4%; padding-right: 4%;border-radius: 5px;padding-top: 2%;padding-bottom: 2%; text-align: center;">
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Sign Up Via {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">{% trans "Continue" %}</button>
</form>
</div>
</div>
{% endblock %}