{% extends 'main/index_template.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
<div style="background:white; padding:4%; margin-top: 20px">
    <div style=" border: 1px solid lightgrey; width:100%; padding-left:4%; padding-right: 4%;border-radius: 5px;padding-top: 2%;padding-bottom: 2%;">
        <div style="font-weight: bold; font-size: larger; margin-bottom: 10px;">About Us</div> 
        
        Welcome to Sharefuzz! <br><br>

        Sharefuzz is a platform for you to share the best online content with others.
        
        Whether it's voicing your ideas and opinions or sharing links, photos and videos, we have something in store for everyone.

        <br><br>

        Sharefuzz was born out of need to cut through noise on current social media apps to reach the good content you were looking for in the first place.
<br>
        We're currently in a very nascent stage. Your support will enable us to grow this into a more vibrant community.

</div>
</div>

{% endblock %}
